#jumbotron {
    background-image: url("/img/pizza.png");
    height:346px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item {
    margin-top:15px;
}
button.btn-outline-success {
    width:350px;
}
.jumbotron {
    margin-top:20px;
    background-image:url("https://java.codeup.com/examples/bootstrap/pizza.png");
    background-size:cover;
}

.lightbar {
    padding-left: 7em;
    padding-right: 7em;
    font-size: xxx-large;
    background-color: #FFF;
    opacity: .8;
}
/*}*/
#build {
    padding-top: 1em;
}