@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    box-sizing: border-box;
}
nav{
    background-color: darkgrey;
    display:flex;
}

nav a{
    text-decoration:none;
    color:black;
    padding:1em;
}
nav a:hover{
    background-color:royalblue;
}
nav h2{
    margin:auto;
    font-size:3em;
}